
<div class="pull-right">
  <strong>Visited:</strong><span class="tab-left btn btn-success"><%= @count %></span>
</div>

<% /recipe\:(?<id>\d+)/ =~ @recipe %>
<%= id %>
<p><%= $redis.hget(@recipe, "title") %></p>
<p><%= $redis.hget(@recipe, "summary") %></p>




<%= link_to "Edit", edit_recipe_path(id) %>